<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Registro</title>
        <style>
            .error {
                color: red;
            }
        </style>
    </head>
    <body>
    <form th:action="@{/registro}" th:object="${usuario}" method="post">

        <div>
            <div th:if="${#fields.hasErrors('nombre')}" th:errorclass="error" th:errors="*{nombre}"></div>
            <label for="nombre">Nombre: </label>
            <input id="nombre" type="text" th:field="*{nombre}">
        </div>
        <div>
            <div th:if="${#fields.hasErrors('email')}" th:errorclass="error" th:errors="*{email}"></div>
            <label for="email">E-Mail: </label>
            <input id="email" type="email" th:field="*{email}">
        </div>
        <div>
            <div th:if="${#fields.hasErrors('username')}" th:errorclass="error" th:errors="*{username}"></div>
            <label for="username">Usuario: </label>
            <input id="username" type="text" th:field="*{username}">
        </div>
        <div>
            <div th:if="${#fields.hasErrors('password')}" th:errorclass="error" th:errors="*{password}"></div>
            <label for="password">Contraseña: </label>
            <input id="password" type="password" th:field="*{password}">
        </div>
        <div>
            <div th:if="${#fields.hasErrors('telefono')}" th:errorclass="error" th:errors="*{telefono}"></div>
            <label for="telefono">Telefono: </label>
            <input id="telefono" type="tel" th:field="*{telefono}">
        </div>
        <div>
            <label for="rol">Rol: </label>
            <select name="rol" id="rol" th:field="*{rol}">
                <option value="administrador">Administrador</option>
                <option value="cliente">Cliente</option>
            </select>
        </div>

        <input type="submit" th:value="Guardar"/>
    </form>
    </body>
</html>